@font-face {
    src: url("font/Alegreya-Bold.otf");
}

@font-face {
    src: url("font/NotoSans-Regular.ttf");
}

.header-text {
    -fx-font-family: 'Alegreya';
    -fx-text-fill: #F0D4AB;
    -fx-font-size: 40pt;
    -fx-effect: dropshadow(gaussian, black, 1.0, 0.5, 0, 6);
}

.header-2-text {
    -fx-font-family: 'Alegreya';
    -fx-text-fill: #F0D4AB;
    -fx-font-size: 30pt;
    -fx-effect: dropshadow(gaussian, black, 1.0, 0.5, 0, 6);
}

.form-label {
    -fx-font-family: 'Noto Sans Regular';
    -fx-font-size: 16pt;
    -fx-text-fill: white;
}

.big-label {
    -fx-font-family: 'Noto Sans Regular';
    -fx-font-size: 18pt;
    -fx-text-fill: white;
}

.completed {
    -fx-font-family: 'Noto Sans Regular';
    -fx-font-size: 16pt;
    -fx-text-fill: green;
}

.incomplete {
    -fx-font-family: 'Noto Sans Regular';
    -fx-font-size: 16pt;
    -fx-text-fill: red;
}

.paragraph {
    -fx-font-family: 'Noto Sans Regular';
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.icons {
    -fx-font-family: Arial;
    -fx-font-size: 18px;
}

.icons.big {
    -fx-font-size: 36px;
}

.masterpane {
    -fx-background-color: black;
}
.button {
    -fx-font-family: 'Alegreya Bold';
    -fx-font-size: 12pt;
    -fx-font-smoothing-type: gray;
    -fx-fill-height: 49px;
    -fx-fill-width: 218px;
    -fx-text-fill: white;
}

.button.submenu {
    -fx-fill: #4D1C2D;
    -fx-border-color: #F0D4AB;
    -fx-border-radius: 0;
}

.button.submenu:pressed {
    -fx-fill: #443037;
}

.button.orange {
    -fx-background-image: url("art/controls/orange-button.png");
}

.button.orange:pressed {
    -fx-background-image: url("art/controls/orange-button-depressed.png");
}

.button.gray {
    -fx-background-image: url("art/controls/gray-button.png");
}

.button.gray:pressed {
    -fx-background-image: url("art/controls/gray-button-depressed.png");
}

.gem {
    -fx-background-image: url("art/controls/gem.png");
}

.long-left-gem {
    -fx-background-image: url("art/controls/left-long-gem.png");
    -fx-background-repeat: no-repeat;
}

.long-right-gem {
    -fx-background-image: url("art/controls/right-long-gem.png");
    -fx-background-repeat: no-repeat;
}

.picker {
    -fx-font-family: 'Zilla Slab Regular';
    -fx-font-size: 12pt;
}

.text-field {
    -fx-font-size: 18px;
}

.opaque {
    -fx-background-color: rgba(256,256,256,0.8);
}

.healthbar  .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-alignment: center;
}

.progress-bar > >track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 266, 0.1);
}

.dungeon-map-button:disabled {
    -fx-background-color: rgba(128,128,128,0.2);
}

.list-cell {
    -fx-font-family: "Zilla Slab Regular";
    -fx-font-size: 10pt;
}

.list-view .list-cell {
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-underline: true;
}

.list-view .list-cell:selected {
    -fx-text-fill: #39CABF;
}

.list-view {
    -fx-background-color: none;
}

.list-view > .virtual-flow > .scroll-bar {
    -fx-background-color: none;
}

.button.pane-switcher {
    -fx-background-color: #4D1C2D;
    -fx-text-fill: #E7CEAB;
    -fx-border-radius: 0;
    -fx-border-color: #E7CEAB;
}

.button.pane-switcher:pressed {
    -fx-background-color: #492F39;
}

.button.view-switcher {
    -fx-background-color: #1C274D;
    -fx-text-fill: #E7CEAB;
    -fx-border-radius: 0;
    -fx-border-color: #E7CEAB;
}

.button.view-switcher:pressed {
    -fx-background-color: #0E1426;
}

.button.view-switcher-2 {
    -fx-background-color: #2C2E30;
    -fx-text-fill: #E7CEAB;
    -fx-border-radius: 0;
    -fx-border-color: #E7CEAB;
}

.button.view-switcher-2:pressed {
    -fx-background-color: black;
}

.picture {
    -fx-border-radius: 0;
    -fx-border-width: 3;
    -fx-border-color: #E7CEAB;
}

.character-box {
    -fx-background-image: url("art/controls/character-panel.png");
}

.character-box .name {
    -fx-text-fill: #F2B634;
}

.character-box .hp {
    -fx-text-fill: #35DBD1;
}

.character-box .trait {
    -fx-text-fill: #CCCCCC;
}

.character-box .class {
    -fx-text-fill: #EA3BEE;
}

.dungeon-map {
    -fx-background-color: rgba(128,128,128,0.7);
    -fx-border-color: #E7CEAB;
    -fx-border-width: 3;
}
.card {
    -fx-font-family: "Noto Sans Regular";
    -fx-font-size: 12pt;
    -fx-border-color: cyan;
}

.reserve {
    -fx-background-color: #2B7979;
    -fx-border-color: #E7CEAB;
}
.card-fire {
    -fx-background-color: darkred;
    -fx-text-fill: white;
}

.card-water {
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.card-ice {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.card-earth {
    -fx-background-color: darkgoldenrod;
    -fx-text-fill: black;
}

.card-air {
    -fx-background-color: darkgreen;
    -fx-text-fill: white;
}

.card-holy {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

.card-dark {
    -fx-background-color: purple;
    -fx-text-fill: white;
}

.card-omni {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.card-none {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.card-physical {
    -fx-background-color: gray;
    -fx-text-fill: black;
}

.card-name {
    -fx-font-family: "Alegreya";
    -fx-font-size: 30pt;
}

.card-name.air {
    -fx-text-fill: lightgreen;
}

.card-name.water {
    -fx-text-fill: deepskyblue;
}

.card-name.ice {
    -fx-text-fill: lightblue;
}

.card-name.earth {
    -fx-text-fill: darkgoldenrod;
}

.card-name.holy {
    -fx-text-fill: yellow;
}

.card-name.dark {
    -fx-text-fill: mediumorchid;
}

.card-name.omni {
    -fx-text-fill: white;
}

.card-name.none {
    -fx-text-fill: black;
}

.card-name.physical {
    -fx-text-fill: darkgray;
}

.ap-text {
    -fx-font-family: "Noto Sans Regular";
    -fx-text-fill: #38D1C7;
    -fx-font-size: 14pt;
}

.big {
    -fx-font-family: "Noto Sans Regular";
    -fx-font-size: 20pt;
    -fx-text-fill: #2CE9A5;
}

.play-button {
    -fx-background-image: url("art/controls/play-button.png");
}

.play-button:pressed {
    -fx-background-image: url("art/controls/play-button-depressed.png");
}

.end-turn-button {
    -fx-background-image: url("art/controls/end-turn-button.png");
}

.end-turn-button:pressed {
    -fx-background-image: url("art/controls/end-turn-depressed.png");
}

.run-away-button {
    -fx-background-image: url("art/controls/run-away-button.png");
}

.run-away-button:pressed {
    -fx-background-image: url("art/controls/run-away-button-depressed.png");
}

.reserve-button {
    -fx-background-image: url("art/controls/reserve-button.png");
}

.reserve-button:pressed {
    -fx-background-image: url("art/controls/reserve-button-depressed.png");
}

.battle-log {
    -fx-font-family: "Alegreya";
    -fx-font-size: 20pt;
    -fx-text-fill: #F89F38;
}

.event-image {
    -fx-border-color: #E7CEAB;
    -fx-border-width: 3px;
}

.party-view-background {
    -fx-background-image: url("art/controls/party-background.png");
}
